<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Target para escribir a archivo -->
		<target name="logfile"
				xsi:type="File"
				fileName="logs/test-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Target para escribir a consola -->
		<target name="console"
				xsi:type="Console"
				layout="${time} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<!-- Nivel mínimo Info: se registran Info, Warn, Error, Fatal -->
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>